/* App.css */

body, html {
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
          
    background: radial-gradient(ellipse at center, rgb(237,234,207) 0%,rgb(226,222,180) 100%)
    
  }

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layout-content {
    flex: 1; /* Fill remaining space */
    overflow-y: auto; /* Allow content to be scrollable */
  }
  
  .footer {
    display:  flex;
    flex-shrink: 0;
    justify-content: center;
    color : white
    
  }
  