.graph-container{
    width: 80%;
    height: 80%;

}
.title-container{
  display : flex; 
  justify-content:  center ;
  align-content: center;
}



.card-container {
  display : flex ; 
  flex-direction : column ;
   
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; background-color: #f0f0f0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin: 1em;
  
}

.card:hover {
  background-color: #e0e0e0;
}




