.container {
    display: flex;
    position: absolute; /* Absolute positioning */
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;

}

h2{
    font-size: 2em;
    color: #1f1c1c;
    text-align: center;
    margin: 0;
}

