.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 38, 73, 0.425); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure modal stays on top */
}

.modal-container{
  display : flex ; 
  justify-content: space-evenly;
  height : 100% ;
  width : 100% ;
 

}







.modal {
  position: relative;
   background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  padding: 20px;
  border-radius: 8px;
  height: 80%;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
  max-width: 80%;
  align-items: center;
  z-index: inherit;
}



.plot{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for depth */

}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 

}

.input-container div {
    text-align: center;
}


.input-container input {
  width: 200px;
  padding: 8px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #301515;
  border-radius: 4px;
  background-color: #f0f0f0;
}
 .input-container h3{
   color : white ; 
  
 }
/* .input-container input {
  margin-right: 10px;
}

.input-container input:last-child {
  margin-right: 0;
} */

.closeButton { 
  position : absolute ;
  top : 0 ;
  right :  0 ;
  margin : 0.5em ;

}



